<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krzysiekbielicki.mylapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BoysTheme">
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"/>
        <activity android:name=".DetailsActivity" />
        <activity
            android:name=".kuba.DemoListActivity"
            android:label="Material Demos List">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kuba.HelloMaterialDesignActivity"
            android:label="Hello Material Design"
            android:theme="@style/SimpleTheme" />
        <activity
            android:name=".kuba.ThemeCustomizationActivity"
            android:label="Theme customization"
            android:theme="@style/ColorfulTheme" />

        <activity android:name=".kuba.TwoThemesActivity"
                  android:label="Two themes"
                  android:theme="@android:style/android:Theme.Material"/>

        <activity android:name=".kuba.recyclerview.RecyclerViewActivity"
                  android:label="RecyclerView"/>

        <activity android:name=".kuba.OutlinesActivity"
            android:label="Outlines"/>

        <activity android:name=".kuba.AnimatingStateChangesActivity"
            android:label="Animating State Changes" />

        <activity android:name=".kuba.TouchFeedback"
            android:label="Touch feedback"/>

        <activity android:name=".kuba.RevealEffectActivity"
                  android:label="Reveal Effect"/>

        <activity android:name=".kuba.transitions.TransitionsSmallGalleryActivity"
            android:theme="@style/TransitionsTheme"
            android:label="Small Gallery" />

        <activity android:name=".kuba.transitions.TransitionsBigGalleryActivity"
            android:theme="@style/TransitionsTheme"
            android:label="Big Gallery" />
    </application>

</manifest>
